/* Write your code here. */

* {
  box-sizing: border-box;
  margin: 0;
}

.bg-container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  margin: 20px;
  text-align: center;
  font-size: 25px;
}

@media (min-width: "768px") {
  img {
    width: 300px;
  }

  .heading {
    font-size: 30px;
  }
}
